body {
  font-family: 'Montserrat', sans-serif;
  background-color: #d5fffe;
  color: #595959;
}

input {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border:0; outline:none;
  text-align: center;
  font-size: 15px;
  font-style: italic;
  font-weight: lighter;
}

h3 {
  color: #82c3c5;
  letter-spacing: 5px;
}

button {
  height: 50px;
  width: 75px;
  border-radius: 10px;
  border: none;
  color: #fcffff;
  background-color: #b21c1c;
  border:0; outline:none;
  font-weight: bold;
}

button:hover {
  background-color: #ff0000;
  color: #fcffff;
  font-style: italic;
}

.header {
  position: fixed;
  background-color: #82c3c5;
  height: 90px;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: #fcffff;
  font-size: 100%;
  letter-spacing: 30px;
  padding-bottom: 20px;
}

.container {
  text-align: center;
  margin-top: 100px;
}

.footer {
  position: fixed;
  background-color: #82c3c5;
  height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #d5fffe;
  font-size: 15px;
  font-weight: lighter;
}

.showList {
  background-color: #b7f4f3;
  text-align: center;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#queryDiv {
  background-color: #b7f4f3;
  text-align: center;
  margin-top: 150px;
  width: 700px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  /* border-radius: 10px; */
}

#resultDiv {
  display: none;
  margin-top: 150px;
  /* border-radius: 10px; */
}

#cross {
  color: #b21c1c;
  font-size: 150%;
}
